.DS_Store
node_modules
atlas-api/dist/*
web-application/dist/*
dist/*

#logs
*-audit.json
.gz

# Compiled js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
atlas-api/src/logs/info/.1972c8680f5bc612a2d88078b99c2d3b6528c157-audit.json
*.gz
